<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="https://www.npmjs.com/package/{{meta.packageName}}/v/{{meta.version}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
            {{{css}}}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body id="top">

<!-- header
================================================== -->
<header>
    <div class="row">

        <div class="top-bar">
            <a data-test="menu-toggle" class="menu-toggle" href="#"><span>Menu</span></a>

            <div class="logo">
                <a href="index.html">Resume</a>
            </div>

            <nav id="main-nav-wrap">
                <ul class="main-navigation">
                    <li class="current"><a data-test="intro-link" class="smoothscroll"  href="#intro" title="">Home</a></li>
                    <li><a data-test="about-link" class="smoothscroll"  href="#about" title="">About</a></li>
                    <li><a data-test="resume-link" class="smoothscroll"  href="#resume" title="">Resume</a></li>
                    <li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
                    <li><a class="smoothscroll"  href="#services" title="">Services</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>
                </ul>
            </nav>
        </div>

    </div>
</header>

{{#resume.basics}}
    <!-- intro section
  ================================================== -->
    <section id="intro">
        <div class="intro-overlay"></div>
        <div class="intro-content">
            <div class="row">
                <div class="col-twelve">
                    <h5>print("Hello, World 👋")</h5>
                    <h1>I'm {{name}}.</h1>
                    <h5>{{label}}</h5>
                    <a class="button stroke smoothscroll" href="#about" title="">About Me</a>
                </div>
            </div>
        </div>

        <ul class="intro-social">
            {{#each profiles}}
                <li><a href="{{url}}"><i class="fa fa-{{toLowerCase network}}"></i></a></li>
            {{/each}}
        </ul>
    </section>
{{/resume.basics}}

<!-- about section
================================================== -->
<section id="about">
    {{#resume.basics}}
        <div class="row section-intro">
            <div class="col-twelve">
                <h5>About</h5>
                <h1>Let me introduce myself.</h1>
                <div class="intro-info">
                    {{#if image}}<img src="{{image}}" alt="Profile Picture">{{/if}}
                    <p class="lead">{{#markdown}}{{summary}}{{/markdown}}</p>
                </div>
            </div>
        </div>
    {{/resume.basics}}

    <div class="row about-content">
        <div class="col-twelve">
            <h3>Profile</h3>
            {{#resume.basics}}
                <ul class="info-list">
                    <li>
                        <strong>Fullname:</strong>
                        <span>{{name}}</span>
                    </li>
                    {{#if label}}
                        <li>
                            <strong>Job:</strong>
                            <span>{{label}}</span>
                        </li>
                    {{/if}}
                    {{#if url}}
                        <li>
                            <strong>Website:</strong>
                            <span>{{displayUrl url}}</span>
                        </li>
                    {{/if}}
                    {{#if email}}
                        <li>
                            <strong>Email:</strong>
                            <span>{{email}}</span>
                        </li>
                    {{/if}}
                </ul>
            {{/resume.basics}}
        </div>
    </div>

    <div class="row button-section">
        <div class="col-twelve">
            <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
        </div>
    </div>
</section>

<!-- resume Section
================================================== -->
<section id="resume" class="grey-section">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Resume</h5>
            <h1>More of my credentials.</h1>
        </div>
    </div>
    {{#if resume.work}}
        <div class="row resume-timeline">
            <div class="col-twelve resume-header">
                <h2>Work Experience</h2>
            </div>
            <div class="col-twelve">
                <div class="timeline-wrap">
                    {{#each resume.work}}
                        <div class="timeline-block">
                            <div class="timeline-ico">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="timeline-header">
                                <h3>{{position}}</h3>
                                <p>{{date startDate}} - {{#if (endDatePresent endDate)}}Present{{else}}{{date endDate}}{{/if}}</p>
                            </div>
                            <div class="timeline-content">
                                <h4>{{name}}</h4>
                                <p>{{#markdown}}{{summary}}{{/markdown}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
    {{#if resume.volunteer}}
        <div class="row resume-timeline">
            <div class="col-twelve resume-header">
                <h2>Volunteer Work</h2>
            </div>
            <div class="col-twelve">
                <div class="timeline-wrap">
                    {{#each resume.volunteer}}
                        <div class="timeline-block">
                            <div class="timeline-ico">
                                <i class="fa fa-handshake-o"></i>
                            </div>
                            <div class="timeline-header">
                                <h3>{{position}}</h3>
                                <p>{{date startDate}} - {{date endDate}}</p>
                            </div>
                            <div class="timeline-content">
                                <h4>{{organization}}</h4>
                                <p>{{#markdown}}{{summary}}{{/markdown}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
    {{#if resume.publications}}
        <div class="row resume-timeline">
            <div class="col-twelve resume-header">
                <h2>Publications</h2>
            </div>
            <div class="col-twelve">
                <div class="timeline-wrap">
                    {{#each resume.publications}}
                        <div class="timeline-block">
                            <div class="timeline-ico">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="timeline-header">
                                <h3>{{name}}</h3>
                                <p>{{date releaseDate}}</p>
                            </div>
                            <div class="timeline-content">
                                <h4>{{publisher}}</h4>
                                <p>{{#markdown}}{{summary}}{{/markdown}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
    {{#if resume.education}}
        <div class="row resume-timeline">
            <div class="col-twelve resume-header">
                <h2>Education</h2>
            </div>
            <div class="col-twelve">
                <div class="timeline-wrap">
                    {{#each resume.education}}
                        <div class="timeline-block">
                            <div class="timeline-ico">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="timeline-header">
                                <h3>{{studyType}} Degree</h3>
                                <p>{{date startDate}} - {{date endDate}}</p>
                            </div>
                            <div class="timeline-content">
                                <h4>{{institution}}</h4>
                                <p>{{area}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
</section>

<!-- portfolio Section
================================================== -->
<section id="portfolio">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Portfolio</h5>
            <h1>Check Out Some of My Work</h1>
        </div>
    </div>
    <div class="row portfolio-content">
        <div class="col-twelve">
            <div id="folio-wrapper" class="block-1-2 block-mob-full stack">
                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="assets/schema.png" alt="Schema">
                        <a href="#modal-01" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">JSON Resume Schema</h3>
		     					    	 <span class="folio-types">
		     					       	  Programming
		     					       </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="assets/firebase.png" alt="Firebase">
                        <a href="#modal-02" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">Firebase Project</h3>
		     					    	<span class="folio-types">
		     					       	  DevOps
		     					      </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="assets/themes.png"alt="Themes">
                        <a href="#modal-03" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">JSON Resume Themes</h3>
		     					    	<span class="folio-types">
		     					       	  Web Design
		     					      </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="modal-01" class="popup-modal slider mfp-hide">
                    <div class="media">
                        <img src="schema.png" alt="" />
                    </div>
                    <div class="description-box">
                        <h4>JSON Resume Schema</h4>
                        <p>Create a custom schema for my resume which is written in JSON.</p>
                        <div class="categories">Programming</div>
                    </div>
                    <div class="link-box">
                        <a href="https://github.com/anthonyjdella/customized-resume-schema">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>
                </div>
                <div id="modal-02" class="popup-modal slider mfp-hide">
                    <div class="media">
                        <img src="firebase.png" alt="" />
                    </div>
                    <div class="description-box">
                        <h4>Registry Functions</h4>
                        <p>Website that gets resume data from Github and saves to Firebase database.</p>
                        <div class="categories">DevOps</div>
                    </div>
                    <div class="link-box">
                        <a href="https://github.com/anthonyjdella/customized-registry-functions">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>
                </div>
                <div id="modal-03" class="popup-modal slider mfp-hide">
                    <div class="media">
                        <img src="themes.png" alt="" />
                    </div>
                    <div class="description-box">
                        <h4>JSON Resume Themes</h4>
                        <p>Created multiple NPM packages of resume themes.</p>
                        <div class="categories">Web Design</div>
                    </div>
                    <div class="link-box">
                        <a href="https://github.com/anthonyjdella/customized-jsonresume-theme-spartan">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- cta Section
================================================== -->
<section id="cta" class="grey-section">
    <div class="row cta-content">
        <div class="col-twelve section-ads">
            <h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>
            <p class="lead">
                Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
                Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.
            </p>
            <div class="action">
                <a class="button button-primary large" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
            </div>
        </div>
    </div>
</section>


<!-- services Section
================================================== -->
<section id="services">
    <div class="overlay"></div>
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Services</h5>
            <h1>What Can I Do For You?</h1>
        </div>
    </div>
    <div class="row services-content">
        <div id="owl-slider" class="owl-carousel services-list">
            <div class="service">
                <span class="icon"><i class="icon-earth"></i></span>
                <div class="service-content">
                    <h3>Backend Development</h3>
                </div>
            </div>
            <div class="service">
                <span class="icon"><i class="icon-window"></i></span>
                <div class="service-content">
                    <h3>Web Development</h3>
                </div>
            </div>
            <div class="service">
                <span class="icon"><i class="icon-toggles"></i></span>
                <div class="service-content">
                    <h3>UI/UX Design</h3>

                </div>
            </div>
            <div class="service">
                <span class="icon"><i class="icon-image"></i></span>
                <div class="service-content">
                    <h3>Graphic Design</h3>
                </div>
            </div>
            <div class="service">
                <span class="icon"><i class="icon-chat"></i></span>
                <div class="service-content">
                    <h3>Consultancy</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- stats Section
================================================== -->
<section id="stats" class="count-up">
    <div class="row">
        <div class="col-twelve">
            <div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">
                <div class="bgrid stat">
                    <div class="icon-part">
                        <i class="icon-pencil-ruler"></i>
                    </div>
                    <h3 class="stat-count">
                        10000
                    </h3>
                    <h5 class="stat-title">
                        Lines of Code
                    </h5>
                </div>
                <div class="bgrid stat">
                    <div class="icon-part">
                        <i class="icon-light-bulb"></i>
                    </div>
                    <h3 class="stat-count">
                        1000000
                    </h3>
                    <h5 class="stat-title">
                        Crazy Ideas
                    </h5>
                </div>
                <div class="bgrid stat">
                    <div class="icon-part">
                        <i class="icon-cup"></i>
                    </div>
                    <h3 class="stat-count">
                        500
                    </h3>
                    <h5 class="stat-title">
                        Coffees
                    </h5>
                </div>
                <div class="bgrid stat">
                    <div class="icon-part">
                        <i class="icon-clock"></i>
                    </div>
                    <h3 class="stat-count">
                        260000
                    </h3>
                    <h5 class="stat-title">
                        Hours Alive
                    </h5>
                </div>
                <div class="bgrid stat">
                    <div class="icon-part">
                        <i class="icon-clock"></i>
                    </div>
                    <h3 class="stat-count">
                        130000
                    </h3>
                    <h5 class="stat-title">
                        Hours Studied
                    </h5>
                </div>
                <div class="bgrid stat">
                    <div class="icon-part">
                        <i class="icon-clock"></i>
                    </div>
                    <h3 class="stat-count">
                        43800
                    </h3>
                    <h5 class="stat-title">
                        Hours Coding
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- contact Section
================================================== -->
<section id="contact">

    <div class="row section-intro">
        <div class="col-twelve">
            <h1>Contact</h1>
        </div>
    <div class="row contact-info">
        <div class="col-four tab-full">
            <div class="icon">
                <i class="icon-pin"></i>
            </div>
            <h5>Location</h5>
            <p>
                Seattle, WA, USA
            </p>
        </div>
        <div class="col-four tab-full collapse">
            <div class="icon">
                <i class="icon-mail"></i>
            </div>
            <h5>Email</h5>
            <p>anthony.dellavecchia.tech@gmail.com<br>
            </p>
        </div>
        <div class="col-four tab-full">
            <div class="icon">
                <i class="icon-phone"></i>
            </div>
            <h5>Phone</h5>
            <p>Mobile: (940) 242-1288<br>
            </p>
        </div>
    </div>
</section>


<!-- footer
================================================== -->

<footer>
    <div class="row">
        <div class="col-six tab-full pull-right social">
            <ul class="footer-social">
                {{#each profiles}}
                    <li><a href="{{url}}"><i class="fa fa-{{toLowerCase network}}"></i></a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-six tab-full">
            <div class="copyright">
                <span>© Open Source @anthonyjdella</span>
            </div>
        </div>
        <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
        </div>
    </div>
</footer>

<!--<div id="preloader">
    <div id="loader"></div>
</div>-->

<!-- Java Script
================================================== -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
    {{{pluginsJs}}}
</script>
<script type="text/javascript">
    {{{mainJs}}}
</script>

</body>

</html>
